div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px;

}
.banner{
  margin: 50px auto;
}

h1{
  color: #0D6EFD;
  font-family: 'Zen Dots';
  font-size: 26px;
  text-align: center;
}


h1 strong{
  color: #FD9843;
}




