.principal{
  display: flex;
}

.esquerda{

}


.botoes-esquerda{
  justify-content: space-between;
  display: flex;
  width:300px;
  margin-bottom: 10px;
}

.direita{
  background: white;
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  width: 500px;
}
.item{
  justify-content: space-between;
}

.notas{
  background: #0c78e3;
  border-radius: 20px;
  padding: 20px;
  margin-top: 25px;
}

.nota{
  border:2px solid black;
  margin-top:18px;
  padding: 20px;
}

.produto{
  justify-content: space-between;
}

.produto .produto-nome{
  width: 200px;
  overflow: hidden;
}

.item{
  display: flex;
}

.produto{
  display:flex;
}
.produto div{
  display:flex;
}

.valor{
  display: flex;
  justify-content: space-between;
}
