h1{
  text-align: center;
}

.produtos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
dx-number-box{
  margin:0 10px 0 10px;
}

.parte-de-baixo{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

p{
  font-size: medium;
}

