<dx-button
  text="voltar"
  type="default"
  icon="back"
  [width]="150"
  routerLink="/inicioloja"
>
</dx-button>
<div class="pricipal">

  <h1>Lista de nota fiscais</h1>


  <dx-data-grid
    [dataSource]="listaDeNotas"
    [showBorders]="true"
    keyExpr="id"
    (onRowRemoved)="onRowRemoved($event)"
    (onRowInserted)="onRowInserted($event)"
    (onEditingStart)="onEditingStart($event); console.log($event)"
    (onSaved)="onSaved($event); console.log($event)"
    (onEditCanceled)="onEditCanceled($event)"
    >


    <dxo-data-grid-header-filter
      [visible]="true"
    ></dxo-data-grid-header-filter>
    <dxo-data-grid-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Procurar"
    ></dxo-data-grid-search-panel>


    <dxo-data-grid-editing
      mode="popup"
      [allowDeleting]="true"
      [allowAdding] = "true"
      [allowUpdating]="true"

      >

      <dxo-data-grid-popup title="Criar Nota Fiscal"></dxo-data-grid-popup>
      <h1>Preencha os dados</h1>
      <dxo-data-grid-form>
        <dxi-data-grid-item template="tituloTemplate" [colSpan]="2"></dxi-data-grid-item>

        <div *dxTemplate="let data of 'tituloTemplate'">
          <h1>
            {{ edicao ? 'Editar Nota Fiscal' : 'Nova Nota Fiscal' }}
          </h1>
        </div>


        <dxi-data-grid-item
          dataField="data"
          editorType="dxDateBox"
          [editorOptions]="{
          displayFormat: 'dd/MM/yyyy',
          useMaskBehavior: true,
          openOnFieldClick: true
        }"
        >
          <dxi-validation-rule
            type="required"
            message="Selecione um cliente.">
          </dxi-validation-rule>
        </dxi-data-grid-item>
          <dxi-data-grid-item
            dataField="cliente.id"
            editorType="dxSelectBox"
            [colSpan]="2"
            [editorOptions]="{
          dataSource: listaDeClientes,
          displayExpr: 'nome',
          valueExpr: 'id',
          searchEnabled: true }"
          >
            <dxi-validation-rule
              type="required"
              message="Selecione um cliente.">
            </dxi-validation-rule>
          </dxi-data-grid-item>




        <dxi-data-grid-item template="produtosTemplate" title="Adcionar Produtos" [colSpan]="2"></dxi-data-grid-item>
        <div *dxTemplate="let cellInfo of 'produtosTemplate'">
          <h4>Escolha os produtos</h4>
            <dx-data-grid
              [(dataSource)]="listaDeItens"
              datatype="itenNota"
              [showBorders]="true"
              (onRowRemoved)="console.log($event)"
              (onRowInserted)="onRowInsertedItem($event); console.log($event)"
              (onRowUpdating)="onRowUpdatingItem($event)"
            >
              onRowRemovedItem($event)
              onRowInsertedItem($event)
              <dxo-data-grid-header-filter
                [visible]="true"
              ></dxo-data-grid-header-filter>

              <dxo-data-grid-editing
                mode="row"
                [allowDeleting]="true"
                [allowAdding] = "true"
                [allowUpdating] = "true"
              >



              </dxo-data-grid-editing>

              <dxi-data-grid-column dataField="produto.id" caption="Produto">
                <dxo-data-grid-lookup
                  [dataSource]="listaDeProdutos"
                  displayExpr="nome"
                  valueExpr="id">
                </dxo-data-grid-lookup>
              </dxi-data-grid-column>

              <dxi-data-grid-column dataField="quantidade" caption="Quantidade"></dxi-data-grid-column>
              <dxi-data-grid-column
                dataField="valorTotal"
                caption="Valor Total"
                [allowEditing]="false"
                [format]="{ type: 'currency', currency: 'BRL', precision: 2 }"
              ></dxi-data-grid-column>



            </dx-data-grid>
          </div>


      </dxo-data-grid-form>
    </dxo-data-grid-editing>

    <dxi-data-grid-column dataField="cliente.id" caption="Cliente">
      <dxo-data-grid-lookup
        [dataSource]="listaDeClientes"
        valueExpr="id"
        displayExpr="nome">
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="data" dataType="date" caption="Data"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="id" caption="Id da Nota"></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="valorTotal"
      caption="Valor Total"
      [format]="{ type: 'currency', currency: 'BRL', precision: 2 }"
    ></dxi-data-grid-column>



  </dx-data-grid>
</div>

